$breakpoints: (
  sm: em(320),
  md: em(768),
  lg: em(1024),
  xl: em(1440)
);

// Font families
$font-family-sans-serif: 'whitney ssm a', 'whitney ssm b', verdana, sans-serif;
$font-family-serif: 'sentinel ssm a', 'sentinel ssm b', georgia, serif;

// Colors
$brand-primary: #0d395f;
$brand-secondary: #F7FAFC;

$white: #fff;
$black: #000;
$gray: #666;
