* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: 1em;
  line-height: 1.4;
  background-color: $body-bg-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

p {
  font-family: $font-family-sans-serif;
  line-height: 1.6;
  margin-top: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
}
