.site-header > .wrap {
  // display: flex;
  // flex-direction: row wrap;
}

.nav-primary {
  // flex: 0 0 100%;
}

.title-area {
  // display: flex;
  // flex: 0 0 50%;
}

.site-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 5px;
}

.menu-btn-holder {
  // flex: 0 0 50%;
  text-align: right;
  // align-self: flex-end;
}

.menu-btn {
  text-transform: uppercase;
  font-size: 14px;
  color: $gray;
  background: none;
  border: 0;
  font-weight: 600;
  padding: 0;
}
