$breakpoints: (
  sm: em(320),
  md: em(768),
  lg: em(1024),
  xl: em(1440)
);

// Font families
$font-family-sans-serif: verdana, sans-serif;
$font-family-serif: georgia, serif;

// Colors
$primary: #0d395f;
$secondary: #F7FAFC;

$white: #fff;
$black: #000;

// area specific colors
$body-font-color: $black;
$body-font-family: $font-family-sans-serif;
$body-bg-color: $white;

$link-color: $primary;
$link-color-hover: darken($primary, 5%);
