.content-sidebar-wrap {

  @include media(lg) {
    display: flex;
  }
}

.content {
  .sidebar-content & {
    margin-bottom: 100px;

    @include media(lg) {
      order: 2;
      flex: 2;
      padding-left: 60px;
    }
  }
}

.sidebar {
  margin-bottom: 100px;
  
  .sidebar-content & {
    @include media(lg) {
      order: 1;
      width: 200px;
    }
  }
}
