.site-header {
  margin-bottom: 80px;
}

.title-area {
  display: flex;
  border-bottom: 3px solid $brand-primary;
}

.site-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 5px;
  width: 240px;
}
