.pagination {
  border-top: 3px solid $brand-primary;
  padding-top: 5px;
  @include clearfix();

  li:not(.pagination-previous):not(.pagination-next) {
    display: none;
  }

  a {
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    font-size: 12px;
    @extend %bordered-link;
  }
}

.pagination-previous {
  float: left;
}

.pagination-next {
  float: right;
}
