%meta-spacecase {
  @extend %spacecase;
  font-size: 12px;
  font-weight: 500;
}

.post {
  margin-bottom: 80px;
  padding-bottom: 80px;

  &:not(:last-of-type) {
    border-bottom: 1px solid $brand-primary;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.entry-header {
  margin-bottom: 40px;

  .archive &,
  .single,
  .page & {
    margin-bottom: 80px;
  }
}

.entry-time {
  @extend %meta-spacecase;

  .single & {
    margin-top: 80px;
    display: block;
  }
}

.entry-categories,
.entry-tags {
  font-size: 13px;

  strong {
    @extend %meta-spacecase;
  }
}

.entry-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 0;

  a {
    color: $black;

    &:hover {
      color: $brand-primary;
    }
  }

  .content > .entry-header &,
  .single &,
  .page & {
    color: $brand-primary;
    font-size: 32px;
  }
}

.entry-author-by {
  font-family: georgia, serif;
  font-style: italic;
  font-size: 12px;
  color: $gray;
}

.entry-author-name {
  font-size: 13px;
  letter-spacing: .1em;
  font-weight: 400;
  color: $gray;
}

.entry-footer {
  margin-top: 40px;
}
