.widget {
  margin-bottom: 50px;
}

.widget-title {
  font-size: 16px;
  color: $brand-primary;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 0;
}

%widget-link {
  display: block;
  background-color: $brand-secondary;
  font-size: 12px !important;
  line-height: 1.6;
  color: $gray;
  padding: 10px;
  @extend %spacecase;

  &:hover {
    color: $brand-primary;
    background-color: $brand-secondary-dark;
  }
}

.tagcloud {
  > a {
    @extend %widget-link;
    border-top: 1px solid $brand-primary;

    &:last-child {
      border-bottom: 1px solid $brand-primary;
    }
  }
}

.sidebar {

  .page-list,
  .menu {
    li {
      border-top: 1px solid $brand-primary;

      &:last-child {
        border-bottom: 1px solid $brand-primary;
      }

      a {
        @extend %widget-link;
      }
    }
  }
}

.page-list .current_page_item > a {
  font-weight: normal !important;
}
